* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    gap: 20px;
}

body {
    font-family: "Karla", serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    color: hsl(179, 62%, 43%);
    padding-bottom: 25px;
}

h2 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 15px;
}

h3 {
    color: white;
    padding-bottom: 15px;
}

p {
   color: hsl(204, 43%, 93%)
}

ul {
    color: white;
    
}

#join-box {
    padding: 20px;
}

#join-para {
    color: hsl(214, 15%, 73%)
}


#subscription-box {
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}

#price {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 25px;
}

#per-month {
    font-weight: 50;
    opacity: 0.7;
    text-align: center;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    height: 35px;
    width: 175px;
    border-radius: 3px;
    font-weight: 700;
}

#why-us-box {
    list-style-type: none; /* Removes the bullets */
    padding: 40px;           /* Removes the default padding */
    background-color:  hsla(179, 62%, 43%, 0.89);
}

ul {
    list-style: none;
}


