* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Karla", serif;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: hsl(179, 62%, 43%);
}

h2 {
    color: hsl(71, 73%, 54%);
}

h3 {
    color: white;
}

p {
   color: hsl(204, 43%, 93%)
}

ul {
    color: white;
}

.community-para {
    color: hsl(218, 22%, 67%);
}

#community-box {
    
}

#subscription-box {
    background-color: hsl(179, 62%, 43%);
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    height: 35px;
    width: 175px;
    border-radius: 3px;
    font-weight: 700;
}

#why-us-box {
    list-style-type: none; /* Removes the bullets */
    padding: 0;           /* Removes the default padding */
    margin: 0;            /* Removes the default margin */
    background-color:  hsla(179, 62%, 43%, 0.89);
}

.attribution {
    color: rgb(59, 59, 59);
}